<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="recipe/header :: header"></head>
<body>
	<nav th:replace="include/nav :: nav"></nav>
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-md-8">
                <select id="recipeType" class="form-select">
                    <option value="">All Types</option>
                    <th:block th:each="entry : ${recipeTypes}">
                        <option th:value="${entry.key}" th:text="${entry.value.codeName}"></option>
                    </th:block>
                </select>
                <input type="text" id="searchInput" class="form-control" placeholder="검색 (제목, 닉네임, 해시태그, 유형)">
                <button id="searchHashtagBtn" class="btn btn-secondary">Search</button>
            </div>
            <div class="col-md-4 text-end">
                <button th:onclick="location.href='/recipes/create'" id="addRecipeBtn" class="btn btn-primary">레시피 등록</button>
            </div>
        </div>

		    <div class="recipe-card" th:each="recipe : ${recipes}">
					<a th:href="@{'/recipes/recipe/' + ${recipe.recipeId}}"> <img th:src="@{${recipe.imageUrl}}" alt="레시피 이미지">
						<h4>
		                    <a th:href="@{'/recipes/recipe/' + ${recipe.recipeId}}" th:text="${recipe.recipeTitle}">레시피 제목</a>
		                </h4>
		                <p th:text="${#temporals.format(recipe.recipeInsertAt, 'yyyy-MM-dd HH:mm')}">작성일</p>
		                <p>조회수: <span th:text="${recipe.recipeViewCount}">조회수</span></p>
					</a>
				</div>
		    <div id="loading" class="text-center" style="display: none;">
		        <span>로딩 중...</span>
		    </div>
		</div>
</body>
<script src="/js/recipeList.js"></script>
</html>
