<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>레시피목록</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		<h1>[[${nickname}]]님의 레시피 목록</h1>

		<!-- 레시피가 없으면 -->
		<div th:if="${#lists.isEmpty(recipes)}">
			<p>등록된 레시피가 없습니다.</p>
		</div>

		<!-- 레시피 목록을 출력 -->
		<div th:if="${not #lists.isEmpty(recipes)}">
			<ul class="list-group">
				<li th:each="recipe : ${recipes}" class="list-group-item">
					<h5 th:text="${recipe.recipeTitle}">레시피 제목</h5>
					<p th:text="${recipe.recipeContent}">레시피 내용</p> <small>조회수:
						[[${recipe.recipeViewCount}]]</small>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>