<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="followings" id="followings" class="content-tab">
			<h3>Folloing</h3>
			<div class="user-list">
				<div class="user-card" th:each="user : ${followings}">
					<a th:href="@{'/user/' + ${user.memId} + '/recipes'}">
						 <p>
				            팔로우한 사람 수: <span th:text="${follows.followingCount}">팔로잉 수</span>
				            <!-- 팔로잉 목록을 클릭하면 팔로잉한 사람들의 목록을 볼 수 있고, 각 팔로잉된 사용자의 마이페이지로 이동 -->
				            <a th:href="@{/following/(memId=${user.memNickname})}">팔로잉 목록</a>
				        </p>
					</a>
				</div>
			</div>
		</section>
</html>