<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="mypage/header :: header"></head>
<body>
	<nav th:replace="include/nav :: nav"></nav>
	
	<div th:replace="mypage/profile :: profile"></div>
	<div th:replace="mypage/tabs :: tabs"></div>
	
	<div class="content-section">
		<section th:replace="mypage/myrecipes :: myrecipes"></section>
		<section th:replace="mypage/followers :: followers"></section>
		<section th:replace="mypage/followings :: followings"></section>
		<section th:replace="mypage/likedRecipes :: likedRecipes"></section>
		<section th:replace="mypage/myRevies :: myRevies"></section>
		<section th:replace="mypage/messages :: messages"></section>
		<section th:replace="mypage/memberInfo :: memberInfo"></section>
	</div>
</body>
</html>
